#------------------------
#  Main ignored files
#------------------------
/.env
/.vscode
/cache
/logs
/node_modules
/package-lock.json
/test.php


#------------------------
#  OS files
#------------------------
*.db
*.log
*.Trashes
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
